[Unit]
Description=Valheim service
Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=10
User=root
WorkingDirectory=/home/steam/valheim
ExecStart=/home/steam/start_valheim.sh

[Install]
WantedBy=multi-user.target